.d{
    background-color:rgb(221, 211, 211);
    margin-top: 10;
    padding: 20px 20px 20px 20px;
    color: #3f57c5;
    font-size: 12pt;
    text-decoration: none;
}
h1{
    color: rgb(163, 96, 47)
}
.hl{
    margin-top: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
/* .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } */
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;
    background-color: grey;
  }