{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2><u>About Page</u></h2><br>
<div class='d'>
<p>Halcyon Technologies offers development and consulting services that address IT requirements like architecture and development of enterprise business systems, enterprise performance monitoring, business intelligence and enterprise application integration. Halcyon Technologies addresses the enterprise-wide end-to-end needs of organizations with its comprehensive range of solutions and services for large-scale ERP applications, sophisticated Database requirements, Business Intelligence (BI) and Agile SOA implementation; that includes Enterprise Applications (EA), Business Process Management (BPM), Enterprise Performance Management (EPM) and Governance.
<br><br>
Halcyon Technologies provides services to its Fortune 100 and medium sized clients in varied verticals spanning from Healthcare to Financials. Halcyon Technologies, with global solution development center based out of Hyderabad, India has a global reputation as a source of unsurpassed expertise in high-end consulting for Microsoft Technologies, cutting edge Mobile technologies including iPhone, Android and Windows platforms, Fusion Middleware and core Database Technology based on Oracle Applications.
To ensure that Halcyon Technologies is able to stay at the cutting-edge of technology, Halcyon Technologies’ has set up state-of-the-art Centers of Excellence, equipped with infrastructure and facilities that match global norms. These Centers provide the necessary combination of infrastructure, domain expertise and specialized skills to develop unique market oriented solutions.
<br><br>
Halcyon Technologies possesses more than 500 person-years of management experience and more than 3,000 person-years of overall technology experience.
</p>

</div>
{% endblock %}