{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2><u>About Page</u></h2><br>
<div class='d'>
You Can Email or Call Us<br><br>

For Marketing	:	marketing@halcyontek.com<br>
For Sales	    :	sales@halcyontek.com<br>
For Support	    :	support@halcyontek.com<br>
For Careers	    :	teamhr@halcyontek.com<br>

</div>
{% endblock %}