{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2><u>Home Page</u></h2><br>
{% if user.is_authenticated %}

<div class='d'>
        Hi {{ profile.first_name }} ...<br>
        <div class='row'>
            <div class='col-md-6 offset-md-5 form-group'>
                <a href="{% url 'map' %}">Google Map</a>
            </div>
        </div>
<a href="{% url 'logout' %}"><p class='hl'>Logout</p></a>
</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}