{% extends "base.html" %}

{% block title %}Google Map{% endblock %}

{% block content %}
<html>
    <br><h3 style='text-align:center'>My Google Maps Demo</h3><br>
    
    <div id="map"></div>

    <script>
      function initMap() {
        var hyderabad = {lat: 17.385, lng: 78.486};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: hyderabad, mapTypeId: 'terrain'});

        var marker = new google.maps.Marker({
          position: hyderabad, 
          map: map
          });
    }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqtxb9ePtbNf1PMhgOhQ6F3ANFJMwbgBo&callback=initMap">
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqtxb9ePtbNf1PMhgOhQ6F3ANFJMwbgBo&libraries=places"></script>

{% endblock %}
