{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2><u>Profile Page</u></h2><br>
    <div class="d">
        <p>First Name : {{ profile.first_name }}</p>
        <p>Last Name : {{profile.last_name}}</p>
        <p>Email : {{profile.email}}</p>
        <p>Mobile Num : {{profile.mobile_no}}</p>
        <p>Address : {{profile.address}}</p>
        <p>Username : {{profile.username}}</p>
        <table><tr><td>Profile Pic : </td></tr><tr><td><img src = "/media/{{profile.profile_image}}" height="200" width="180"></td></tr></table>
        <br>
        <p><a href="{% url 'logout' %}">Logout</a></p>
  </div>
{% endblock %}

